body {
    width: 100vw;
    height: 100vh;
}

#root{
    width: 100vw;
    height: 100vh;
    margin-left: 0px;
    
}
.container {
    width: 100vw;
    height: 100vh;
  }

.map-container {
    width: 100vw;
    height: 100vh;
}

.map {
    width: 100vw;
    height: 100vh;
}